/bdod_0-5cm_mean.tif
/bdod_100-200cm_mean.tif
/bdod_15-30cm_mean.tif
/bdod_30-60cm_mean.tif
/bdod_5-15cm_mean.tif
/bdod_60-100cm_mean.tif
/cec_0-5cm_mean.tif
/cec_100-200cm_mean.tif
/cec_15-30cm_mean.tif
/cec_30-60cm_mean.tif
/cec_5-15cm_mean.tif
/cec_60-100cm_mean.tif
/cfvo_0-5cm_mean.tif
/cfvo_100-200cm_mean.tif
/cfvo_15-30cm_mean.tif
/cfvo_30-60cm_mean.tif
/cfvo_5-15cm_mean.tif
/cfvo_60-100cm_mean.tif
/clay_0-5cm_mean.tif
/clay_100-200cm_mean.tif
/clay_15-30cm_mean.tif
/clay_30-60cm_mean.tif
/clay_5-15cm_mean.tif
/clay_60-100cm_mean.tif
/nitrogen_0-5cm_mean.tif
/nitrogen_100-200cm_mean.tif
/nitrogen_15-30cm_mean.tif
/nitrogen_30-60cm_mean.tif
/nitrogen_5-15cm_mean.tif
/nitrogen_60-100cm_mean.tif
/ocd_0-5cm_mean.tif
/ocd_100-200cm_mean.tif
/ocd_15-30cm_mean.tif
/ocd_30-60cm_mean.tif
/ocd_5-15cm_mean.tif
/ocd_60-100cm_mean.tif
/ocs_0-30cm_mean.tif
/phh2o_0-5cm_mean.tif
/phh2o_100-200cm_mean.tif
/phh2o_15-30cm_mean.tif
/phh2o_30-60cm_mean.tif
/phh2o_5-15cm_mean.tif
/phh2o_60-100cm_mean.tif
/sand_0-5cm_mean.tif
/sand_100-200cm_mean.tif
/sand_15-30cm_mean.tif
/sand_30-60cm_mean.tif
/sand_5-15cm_mean.tif
/sand_60-100cm_mean.tif
/silt_0-5cm_mean.tif
/silt_100-200cm_mean.tif
/silt_15-30cm_mean.tif
/silt_30-60cm_mean.tif
/silt_5-15cm_mean.tif
/silt_60-100cm_mean.tif
/soc_0-5cm_mean.tif
/soc_100-200cm_mean.tif
/soc_15-30cm_mean.tif
/soc_30-60cm_mean.tif
/soc_5-15cm_mean.tif
/soc_60-100cm_mean.tif
