/TRY_5_GapFilledData_2020
/try_pft_v1.csv
/TRY_6_gapfilled_for_distribution
/TRY_trait_table_2024114.txt
/TRY_trait_table_2024114.txt
/TRY_trait_table_2024114.txt
/TRY_Life_Forms.zip
/try_pft_v2.parquet
/20240506_try_sparse_processing
